body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: mediumslateblue;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 24px;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.main-content {
    display: flex;
    margin-top: 80px; /* ヘッダーの高さ分を考慮して余白を追加 */
    padding: 20px;
}

.content {
    flex: 3;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.sidebar {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.sidebar section {
    margin-bottom: 20px;
}

.sidebar section h2 {
    color: mediumslateblue;
    border-bottom: 2px solid mediumslateblue;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.sidebar section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar section ul li {
    margin-bottom: 10px;
}

.sidebar section ul li a {
    text-decoration: none;
    color: mediumslateblue;
}

.sidebar section ul li a:hover {
    text-decoration: underline;
}

